
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.successFullColor {
    /* background-color: #00ff00 !important; */
    /* background-image: none !important; */
    /* color: #000000 !important; */
    color: #43a380 !important;
}
.failureColor {
    /* background-color: #ff0000 !important; */
    /* background-image: none !important; */
    /* color: #000000 !important; */
    color: #ae001e !important;
}
.processingColor {
    /* background-color: #ffff00 !important; */
    /* background-image: none !important; */
    /* color: #000000 !important; */
    color: #e9c8a4 !important;
}
.toBeProcessedColor {
    /* background-color: #ffff00 !important; */
    /* background-image: none !important; */
    /* color: #000000 !important; */
    color: #f5ecce !important;
}


.linkSeeMore {
    color: blue !important;
}

.appTitle {
    color: red;
    /* font-weight: bold; */
    /* font-size: 100% !important; */
}

.viewTitle {
    /* color: red; */
    /* font-weight: bold; */
    /* font-size: 150% !important; */
}

/* for all the growls */
.ui-growl {
    z-index: 9999;
}

ul.ui-menu-child
{
    white-space: nowrap;
    width: 220px !important;
}


