# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
nbproject
.DS_Store

*.cgi
*.fcgi
*.sln
*.ncb
*.sln
*.suo
*.vcproj
Release

Makefile
*.dylib
*.so

