# Ignore all
#*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
nbproject
.DS_Store

#ignora i seguenti eseguibili
MMSEngineService/src/mmsEngineService
utilities/awsSigner/src/awsSigner
utilities/sendEmail/src/sendEmail
utilities/updateGEOInfo/src/updateGEOInfo

*.cgi
*.fcgi
*.sln
*.ncb
*.sln
*.suo
*.vcproj
.vscode
Release

.cache
.idea
build

Makefile
*.dylib
*.so

