server {
	server_name mms.catrasoft.cloud catrasoft.cloud;
	listen 80;

	#return 301 https://github.com/giulianoc/CatraMMS/wiki;
	return 301 https://mms.catrasoft.cloud$request_uri;
}

server {
	server_name mms.catrasoft.cloud catrasoft.cloud;
	listen 443 ssl http2;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /usr/local/nginx/conf/snippets/ssl-params.conf;

	add_header X-Frame-Options "SAMEORIGIN";

	root /home/mms/catramms/CatraMMS/www;
	#return 301 https://github.com/giulianoc/CatraMMS/wiki;
}

server {
	server_name mms-api.catrasoft.cloud;
	listen 80;

	return 301 https://mms-api.catrasoft.cloud$request_uri;
}

server {
	listen 443 ssl http2;
	server_name mms-api.catrasoft.cloud;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /usr/local/nginx/conf/snippets/ssl-params.conf;

	access_log   /usr/local/CatraMMS/logs/mms-api.access.log main;
	error_log    /usr/local/CatraMMS/logs/mms-api.error.log notice;

	location /catramms {
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/user/?$ /api?version=$1&method=registerUser last;
		}

		if ($request_method = PUT) {
			rewrite ^/catramms/(v[0-9]+)/user/([0-9]+)/([0-9]+)/?$ /api?version=$1&method=confirmUser&userKey=$2&confirmationeCode=$3 last;
		}

		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/ingestion/([0-9]+)/?([0-9]*)/?$ /api?version=$1&method=ingestionStatus&ingestionRootKey=$2&ingestionJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/ingestion/?$ /api?version=$1&method=ingestion last;
		}

		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/content/?([0-9]*)/?$ /api?version=$1&method=contentList&mediaItemKey=$2 last;
		}

		if ($request_method = PUT) {
			rewrite ^/catramms/(v[0-9]+)/profilesSet/video/?$ /api?version=$1&method=addEncodingProfilesSet&contentType=video last;
			rewrite ^/catramms/(v[0-9]+)/profile/video/?$ /api?version=$1&method=addEncodingProfile&contentType=video last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/profilesSet/video/?([0-9]*)/?$ /api?version=$1&method=encodingProfilesSetList&contentType=video&encodingProfilesSetKey=$2 last;
			rewrite ^/catramms/(v[0-9]+)/profile/video/?([0-9]*)/?$ /api?version=$1&method=encodingProfileList&contentType=video&encodingProfileKey=$2 last;
		}
		if ($request_method = PUT) {
			rewrite ^/catramms/(v[0-9]+)/profilesSet/audio/?$ /api?version=$1&method=addEncodingProfilesSet&contentType=audio last;
			rewrite ^/catramms/(v[0-9]+)/profile/audio/?$ /api?version=$1&method=addEncodingProfile&contentType=audio last;
		}
		if ($request_method = PUT) {
			rewrite ^/catramms/(v[0-9]+)/profilesSet/image/?$ /api?version=$1&method=addEncodingProfilesSet&contentType=image last;
			rewrite ^/catramms/(v[0-9]+)/profile/image/?$ /api?version=$1&method=addEncodingProfile&contentType=image last;
		}

		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/delivery/([0-9]+)/?$ /api?version=$1&method=createDeliveryAuthorization&physicalPathKey=$2 last;
		}
	}

	location /api {
		internal;

		fastcgi_pass   localhost:8010;
		include /usr/local/nginx/conf/fastcgi_params;
	}
}

server {
	listen 80;

	# server-1 is for the calls directly to the encoder server (progress and status(isFinished))
	#we should call the encoder machine as encoder-1, encoder-2, ...
	server_name server-1;

	access_log   /usr/local/CatraMMS/logs/mms-encoder.access.log main;
	error_log    /usr/local/CatraMMS/logs/mms-encoder.error.log notice;

	location /catramms {
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/encode/([0-9]+)/?$ /encoder?version=$1&method=encodeContent&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayImageOnVideo/([0-9]+)/?$ /encoder?version=$1&method=overlayImageOnVideo&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayTextOnVideo/([0-9]+)/?$ /encoder?version=$1&method=overlayTextOnVideo&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/progress/([0-9]+)/?$ /encoder?version=$1&method=encodingProgress&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/status/([0-9]+)/?$ /encoder?version=$1&method=encodingStatus&encodingJobKey=$2 last;
		}
	}

	location /encoder {
		internal;

		fastcgi_pass   localhost:8020;
		include /usr/local/nginx/conf/fastcgi_params;
	}
}

server {
	server_name mms-binary.catrasoft.cloud;
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /usr/local/nginx/conf/snippets/ssl-params.conf;

	return 301 http://mms-binary.catrasoft.cloud$request_uri;
}

server {
	server_name mms-delivery.catrasoft.cloud;
	#listen 80;
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /usr/local/nginx/conf/snippets/ssl-params.conf;

	access_log   /usr/local/CatraMMS/logs/mms-delivery.access.log main;
	error_log    /usr/local/CatraMMS/logs/mms-delivery.error.log notice;

	root /usr/local/CatraMMS/storage/MMSRepository/;

	location ~ /MMS {
		if ($arg_token) {
			set $token $arg_token;
		}
		if ($arg_deliveryFileName) {
			add_header Content-Disposition 'attachment; filename="$arg_deliveryFileName"';
		}

		auth_request /catramms/delivery/checkAuthorization;

	}

	location = /catramms/delivery/checkAuthorization {
		internal;

		proxy_pass https://mms-delivery.catrasoft.cloud/catramms/delivery/authorization;
		proxy_pass_request_body off;
		proxy_set_header Content-Length "";
		#proxy_set_header X-Original-METHOD $request_method;
		proxy_set_header X-Original-METHOD $token;
		proxy_set_header X-Original-URI $request_uri;
	}

	location /catramms/delivery/authorization {
		allow 127.0.0.1;
		deny all;
		if ($request_method = GET) {
			rewrite ^/catramms/delivery/authorization/?$ /api?method=deliveryAuthorization last;
		}
	}

	location /api {
		internal;

		fastcgi_pass   localhost:8010;
		include /usr/local/nginx/conf/fastcgi_params;
	}

	location / {
		return 403;
		break;
	}
}

server {
	listen 80;

	server_name mms-binary.catrasoft.cloud localhost;

	access_log   /usr/local/CatraMMS/logs/mms-binary.access.log main;
	error_log    /usr/local/CatraMMS/logs/mms-binary.error.log notice;

	client_max_body_size 1G;

	location /catramms {
		if ($request_method = POST) {
			#this request will receive the URL parameters
			#set by 'toBeAuthorized' redirect
			rewrite ^/catramms/uploadedBinary/?$ /api last;
		}
	}

	location ~ /catramms/(v[0-9]+)/binary {
		if ($request_method = POST) {
			set $XProgressID "$msec";
			rewrite ^/catramms/(v[0-9]+)/binary/([0-9]+)/?$ /catramms/binary/toBeAuthorized?version=$1&method=uploadedBinary&ingestionJobKey=$2&X-Progress-ID=$XProgressID last;
		}
	}

	location /catramms/binary/toBeAuthorized {
		internal;

		auth_request /catramms/binary/checkAuthorization;
		#auth_request_set $auth_status $upstream_status;

		client_body_temp_path /usr/local/CatraMMS/storage/MMSWorkingAreaRepository/nginx;

		# When set to the value on, temporary files are not removed after request processing
		#The value clean does it.
		client_body_in_file_only clean;

		proxy_pass_request_headers on;

		# filename where the POST data was written to
		proxy_set_header X-FILE $request_body_file;

		proxy_redirect off;
		proxy_set_body off;
		proxy_http_version 1.1;
		#It is called when nginx completed to upload the binary,
		#all the URL parameters are inherit from the 'toBeAuthorized' redirect
		proxy_pass http://localhost/catramms/uploadedBinary;

		## Track uploads for this location on the zone defined
		## up to 30 seconds after they have been finished
		## In case of Upload using Content-Range, the X-Progress-Id (ingestionKey) will be the same,
		## so two upload requests using Content-Range has to be done at least with 5 seconds of interval
		## otherwise the 'upload progress' module will return an error.
		## This directive must be the last directive of the location.
		track_uploads uploads 30s;
	}

	location = /catramms/binary/checkAuthorization {
		internal;

		proxy_pass http://localhost/catramms/binary/authorization;
		proxy_pass_request_body off;
		proxy_set_header Content-Length "";
		#proxy_set_header X-Original-METHOD $request_method;
		proxy_set_header X-Original-METHOD $XProgressID;
		proxy_set_header X-Original-URI $request_uri;
	}

	location /catramms/binary/authorization {
		allow 127.0.0.1;
		deny all;
		if ($request_method = GET) {
			rewrite ^/catramms/binary/authorization/?$ /api?method=binaryAuthorization last;
		}
	}

	location ^~ /catramms/binary/uploadProgress {
		allow 127.0.0.1;
		deny all;
		upload_progress_json_output;
		report_uploads uploads;
	}

	location /api {
		internal;

		fastcgi_pass   localhost:8010;
		include /usr/local/nginx/conf/fastcgi_params;
	}
}

