
	access_log   /var/catramms/logs/nginx/mms-encoder.access.log main;
	error_log    /var/catramms/logs/nginx/mms-encoder.error.log error;

	location /catramms {
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/status/?$ /encoder?version=$1&method=status last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/encode/([0-9]+)/?$ /encoder?version=$1&method=encodeContent&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayImageOnVideo/([0-9]+)/?$ /encoder?version=$1&method=overlayImageOnVideo&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayTextOnVideo/([0-9]+)/?$ /encoder?version=$1&method=overlayTextOnVideo&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/generateFrames/([0-9]+)/?$ /encoder?version=$1&method=generateFrames&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/slideShow/([0-9]+)/?$ /encoder?version=$1&method=slideShow&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveRecorder/([0-9]+)/?$ /encoder?version=$1&method=liveRecorder&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveProxy/([0-9]+)/?$ /encoder?version=$1&method=liveProxy&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/vodProxy/([0-9]+)/?$ /encoder?version=$1&method=vodProxy&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/awaitingTheBeginning/([0-9]+)/?$ /encoder?version=$1&method=awaitingTheBeginning&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveGrid/([0-9]+)/?$ /encoder?version=$1&method=liveGrid&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/videoSpeed/([0-9]+)/?$ /encoder?version=$1&method=videoSpeed&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/pictureInPicture/([0-9]+)/?$ /encoder?version=$1&method=pictureInPicture&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/introOutroOverlay/([0-9]+)/?$ /encoder?version=$1&method=introOutroOverlay&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/cutFrameAccurate/([0-9]+)/?$ /encoder?version=$1&method=cutFrameAccurate&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/progress/([0-9]+)/?$ /encoder?version=$1&method=encodingProgress&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/status/([0-9]+)/?$ /encoder?version=$1&method=encodingStatus&encodingJobKey=$2 last;
		}
		if ($request_method = DELETE) {
			rewrite ^/catramms/(v[0-9]+)/encoder/([0-9]+)/?$ /encoder?version=$1&method=killEncodingJob&encodingJobKey=$2 last;
		}
	}

	location /encoder {
		internal;

		fastcgi_read_timeout 120;

		fastcgi_pass   127.0.0.1:8020;
		include /opt/catramms/nginx/conf/fastcgi_params;
	}
