
	access_log   /var/catramms/logs/nginx/mms-encoder.access.log main;
	error_log    /var/catramms/logs/nginx/mms-encoder.error.log error;

	location /catramms {
		#Uso una coda "minima" per gestire le richieste contemporanee.
		#Non userei il nodelay in modo che le richieste vengono evase secondo il rate indicato in nginx.conf
		#Nota: parliamo dello stesso IP.
		limit_req zone=mmsEncoderLimit burst=20;

		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/status/?$ /encoder?version=$1&method=status last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/info/?$ /encoder?version=$1&method=info last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/encode/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=encodeContent&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayImageOnVideo/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=overlayImageOnVideo&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/overlayTextOnVideo/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=overlayTextOnVideo&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/generateFrames/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=generateFrames&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/slideShow/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=slideShow&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveRecorder/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=liveRecorder&ingestionJobKey=$2&encodingJobKey=$3 last;
			rewrite ^/catramms/(v[0-9]+)/encoder/liveRecorder/([0-9]+)/?$ /encoder?version=$1&method=liveRecorder&ingestionJobKey=-1&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveProxy/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=liveProxy&ingestionJobKey=$2&encodingJobKey=$3 last;
			rewrite ^/catramms/(v[0-9]+)/encoder/liveProxy/([0-9]+)/?$ /encoder?version=$1&method=liveProxy&ingestionJobKey=-1&encodingJobKey=$2 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveGrid/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=liveGrid&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/videoSpeed/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=videoSpeed&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/addSilentAudio/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=addSilentAudio&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/pictureInPicture/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=pictureInPicture&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/introOutroOverlay/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=introOutroOverlay&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = POST) {
			rewrite ^/catramms/(v[0-9]+)/encoder/cutFrameAccurate/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=cutFrameAccurate&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/progress/([0-9]+)/?$ /encoder?version=$1&method=encodingProgress&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/status/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=encodingStatus&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = DELETE) {
			rewrite ^/catramms/(v[0-9]+)/encoder/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=killEncodingJob&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
		if ($request_method = PUT) {
			rewrite ^/catramms/(v[0-9]+)/encoder/liveProxy/playlist/([0-9]+)/?$ /encoder?version=$1&method=changeLiveProxyPlaylist&encodingJobKey=$2 last;
		}
		if ($request_method = GET) {
			rewrite ^/catramms/(v[0-9]+)/encoder/filterNotification/([0-9]+)/([0-9]+)/?$ /encoder?version=$1&method=filterNotification&ingestionJobKey=$2&encodingJobKey=$3 last;
		}
	}

	location /encoder {
		internal;

		fastcgi_read_timeout 120;

		#the encoder fastcgi listen to 8020 port (see scripts/mmsEncoder.sh)
		fastcgi_pass   127.0.0.1:8020;
		include /opt/catramms/nginx/conf/fastcgi_params;
	}
