
	access_log   /var/catramms/logs/nginx/mms-gui.access.log main;
	error_log    /var/catramms/logs/nginx/mms-gui.error.log error;

	#used when from mms-gui it is 'Add-Content' using the Push method
	client_max_body_size 10G;

	root /opt/catramms/tomcat/webapps;

	#proxy_cache one;

	#scenario client url: https://mms-gui.catramms-cloud.com
	#https://www.keycdn.com/support/nginx-location-directive
	#match qualunque URL o URI che inizia con /
	location / {
		rewrite .* https://$host/catramms/ redirect;
	}

	#scenario client url: https://mms-gui.catramms-cloud.com/catramms
	#	in questo caso tomcat ritornerebbe una redirect a /catramms/
	#	nginx quindi ritornerebbe al client la redirect:
	#		http://mms-gui.catramms-cloud.com:8089/catramms/
	#	che ovviamente non funziona (sia per http che per la porta 8089)
	#	Questo perchè il load balancer gira a nginx l'url usando http e 8089
	#	Quindi anche in questo caso eseguo una redirect senza mandare
	#	la richiesta a tomcat
	#match qualunque URL o URI che inizia con /catramms
	location /catramms {
		rewrite .* https://$host/catramms/ redirect;
	}

	#scenario client url: https://mms-gui.catramms-cloud.com/catramms/....
	#	questo tipo di url puo essere girata a tomcat perchè, anche il caso
	#		https://mms-gui.catramms-cloud.com/catramms/
	#	viene gestito da tomcat con il file index.html
	#match qualunque URL o URI che inizia con /catramms/
	location /catramms/ {
		#Uso una coda "minima" per gestire le richieste contemporanee.
		#Non userei il nodelay in modo che le richieste vengono evase secondo il rate indicato in nginx.conf
		#Nota: parliamo dello stesso IP.
		limit_req zone=mmsGUILimit burst=100 nodelay;

		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://127.0.0.1:8080;
	}

