
	access_log   /var/catramms/logs/nginx/mms-gui.access.log main;
	error_log    /var/catramms/logs/nginx/mms-gui.error.log error;

	#used when from mms-gui it is 'Add-Content' using the Push method
	client_max_body_size 2G;

	root /opt/catramms/tomcat/webapps;

	#proxy_cache one;

	location / {
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://127.0.0.1:8080/;
	}

