
	access_log   /var/catramms/logs/nginx/mms-delivery-path.access.log main;
	error_log    /var/catramms/logs/nginx/mms-delivery-path.error.log error;

	root /var/catramms/storage/MMSRepository/;

	location /healthy.txt {
		return 200;
	}

	#authorization through path
	#next location manage any request: .mp4, .m3ud, .ts
	location ~ ^/token_ {

		#rewrite ^(.*)/token_([a-fA-F0-9]+)/(.*) $1/$3 last;
		rewrite ^/token_([a-zA-Z0-9\-_=,]+)/(.*) /$2 last;
	}

	#1 e poi #5
	location ~ ^/(MMS_|ExternalStorage_|MMSLive) {
		limit_req zone=mmsDeliveryLimit burst=20;

		auth_request /catramms/delivery/checkAuthorizationThroughPath;

		if ($http_Origin) {
			set $origin '$http_Origin';
		}
		if ($http_Origin = "") {
			set $origin '*';
		}
		if ($request_method = 'GET') {
			add_header 'Access-Control-Allow-Origin' '$origin';
			#add_header 'Access-Control-Allow-Origin' 'https://$guiHostName';
			add_header 'Access-Control-Allow-Credentials' 'true';
			add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
			add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
			add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
		}
	}

	#2
	location = /catramms/delivery/checkAuthorizationThroughPath {
		internal;

		proxy_pass http://$deliveryHostName/catramms/delivery/authorizationThroughPath;
		#$host will be mms-delivery.restream.ovh
		proxy_set_header Host $host;
		proxy_pass_request_body off;
		proxy_set_header Content-Length "";
		#proxy_set_header X-Original-METHOD $request_method;
		#proxy_set_header X-Original-METHOD $token;
		proxy_set_header X-Original-URI $request_uri;
	}

	#3
	location /catramms/delivery/authorizationThroughPath {
		allow 127.0.0.1;
		deny all;
		if ($request_method = GET) {
			rewrite ^/catramms/delivery/authorizationThroughPath/?$ /api?method=deliveryAuthorizationThroughPath last;
		}
	}

	#4
	location /api {
		internal;

		fastcgi_read_timeout 120;

		#the api fastcgi listen to 8010 port (see scripts/mmsApi.sh)
		fastcgi_pass   127.0.0.1:8010;
		include /opt/catramms/nginx/conf/fastcgi_params;
	}

	location / {
		return 403;
		break;
	}

