server {
	server_name mms.catrasoft.cloud catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen 80;

	#return 301 https://github.com/giulianoc/CatraMMS/wiki;
	return 301 https://mms.catrasoft.cloud$request_uri;
}

server {
	server_name mms.catrasoft.cloud catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen 443 ssl http2;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	root /opt/catramms/CatraMMS/www;
	#return 301 https://github.com/giulianoc/CatraMMS/wiki;
}

#api
#in case of nginx load balancer
server {
        server_name mms-api-1.restream.ovh;
		#better to bind to a specific IP, better if internal IP
        listen 192.168.1.105:80;

        include /opt/catramms/CatraMMS/conf/catrammsAPIServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-api-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen mms-api-1.catrasoft.cloud:80;

	return 301 https://mms-api.catrasoft.cloud$request_uri;
}

#in case of direct call from client
server {
	server_name mms-api-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen 443 ssl http2;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	include /opt/catramms/CatraMMS/conf/catrammsAPIServer.nginx;
}

#encoder
server {
	#better to bind to a specific IP, better if internal IP
	listen 80;

	# mmsengine-1 is for the calls directly to the encoder server (progress and status(isFinished))
	#we should call the encoder machine as encoder-1, encoder-2, ...
	server_name mmsengine-1;

	include /opt/catramms/CatraMMS/conf/catrammsEncoderServer.nginx;
}

#delivery
#in case of nginx load balancer
server {
	server_name mms-delivery-1.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 192.168.1.105:80;

	set $apiHostName 192.168.1.105;
	set $guiHostName mms-gui.catrasoft.cloud;
	include /opt/catramms/CatraMMS/conf/catrammsDeliveryServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-delivery-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	#listen 80;
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	set $apiHostName 127.0.0.1;
	set $guiHostName mms-gui.catrasoft.cloud;
	include /opt/catramms/CatraMMS/conf/catrammsDeliveryServer.nginx;
}

#in case of direct call from client
server {
    server_name mms-delivery.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
    listen 127.0.0.1:80;

    set $apiHostName 127.0.0.1;
    set $guiHostName mms-gui.catrasoft.cloud;
    include /opt/catramms/CatraMMS/conf/catrammsDeliveryServer.nginx;
}


#delivery-path
#in case of nginx load balancer
server {
	server_name mms-delivery-path-1.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 192.168.1.105:80;

	set $apiHostName 192.168.1.105;
	set $guiHostName mms-gui.catrasoft.cloud;
	include /opt/catramms/CatraMMS/conf/catrammsDelivery-pathServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-delivery-path-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	#listen 80;
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	set $apiHostName 127.0.0.1;
	set $guiHostName mms-gui.catrasoft.cloud;
	include /opt/catramms/CatraMMS/conf/catrammsDelivery-pathServer.nginx;
}

#in case of direct call from client
server {
    server_name mms-delivery-path.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
    listen 127.0.0.1:80;

    set $apiHostName 127.0.0.1;
    set $guiHostName mms-gui.catrasoft.cloud;
    include /opt/catramms/CatraMMS/conf/catrammsDelivery-pathServer.nginx;
}


#delivery-f
#in case of nginx load balancer
server {
	server_name mms-delivery-f.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 192.168.1.105:80;

	include /opt/catramms/CatraMMS/conf/catrammsDelivery-fServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-delivery-f.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	#listen 80;
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	include /opt/catramms/CatraMMS/conf/catrammsDelivery-fServer.nginx;
}

#binary
#in case of nginx load balancer
server {
	server_name mms-binary.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 192.168.1.105:80;

	set $apiHostName 192.168.1.105;
	include /opt/catramms/CatraMMS/conf/catrammsBinaryServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-binary.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen 443;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	return 301 http://mms-binary.catrasoft.cloud$request_uri;
}

#in case of direct call from client
server {
	server_name mms-binary-1.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen mms-binary-1.restream.ovh:80;

	set $apiHostName 127.0.0.1;
	include /opt/catramms/CatraMMS/conf/catrammsBinaryServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-binary-1.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 127.0.0.1:80;

	set $apiHostName 127.0.0.1;
	include /opt/catramms/CatraMMS/conf/catrammsBinaryServer.nginx;
}


#tomcat
#in case of nginx load balancer
server {
	server_name mms-gui.restream.ovh;
	#better to bind to a specific IP, better if internal IP
	listen 192.168.1.105:80;

	include /opt/catramms/CatraMMS/conf/catrammsGUIServer.nginx;
}

#in case of direct call from client
server {
	server_name mms-gui-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen mms-gui-1.restream.ovh:80;

	#return 301 https://github.com/giulianoc/CatraMMS/wiki;
	return 301 https://mms-gui-1.catrasoft.cloud$request_uri;
}

#in case of direct call from client
server {
	server_name mms-gui-1.catrasoft.cloud;
	#better to bind to a specific IP, better if internal IP
	listen 443 ssl http2;

	ssl_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/catrasoft.cloud/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/catrasoft.cloud/fullchain.pem;
	include /opt/catramms/nginx/conf/snippets/ssl-params.conf;

	include /opt/catramms/CatraMMS/conf/catrammsGUIServer.nginx;
}

